<toolbar [title]="toolbarTitle"></toolbar>

<workout-common-info [workout]="workout" 
                     (nameInputBlurEvent)="checkCustomNameProvision()"></workout-common-info>

<workout-exercises-header></workout-exercises-header>
<ion-content>
    
    <exercises-list *ngIf="workout.state === 'template'"
                    [exercises]="exercisesSelected"
                    isWorkoutCreationFlow="true"
                    showActionButton="false"></exercises-list>

    <active-exercises *ngIf="workout.state === 'active'"
                      [exercises]="workout.exercises">
    </active-exercises>                    

</ion-content>   

<button *ngIf="(exercisesSelected | async).length > 0 && workout.state === 'template'" 
         class="Workout-complete" primary fab fab-right fab-bottom
        (click)="completeWorkoutCreation()">
    <ion-icon name="done-all"></ion-icon>
</button>


          



    




