.ExerciseItem {
    @include element(category) {
         color:  color($colors, primary);         
    }
    
    @include element(header) {
        background: grey;
        color: white; 
        padding: 8px;      
    
        @include modifier(selected) {
            background: color($colors, secondary);      
        }
    }
}

.ExerciseItemHeader {
    @include element(name) {
       white-space: normal;    
    }
    
    @include element(favorite) {
        font-size: 2rem;
    }

    @include element(addButton) {
        margin: 0px;  
    }
    
    @include element(addIcon) {
        font-size: 2rem;
        color: color($colors, secondary);   

        @include modifier(selected) {
            color: color($colors, light);
        }   
    }
}

.ExerciseItemFooter {
    @include element(chars) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;      
    }
}


