<ion-card class="ExerciseItem" (click)=exerciseOnClick(exercise)>
    
    <ion-card-header class="ExerciseItem-header">
        <ion-row>
            <ion-col class="ExerciseItemHeader-name" width-80>
                {{exercise.name}}
            </ion-col>
            <ion-col text-right>
                <ion-icon name='star-outline' class="ExerciseItemHeader-favorite" inactive></ion-icon>
            </ion-col>
        </ion-row>
    </ion-card-header>
    
    <ion-row no-padding wrap>
        <ion-col *ngIf="exercise.type" text-left>
            <button clear small class="ExerciseItemFooter-chars">
            <ion-icon name='walk'></ion-icon>
            {{'TYPE_' + exercise.type | translate}}       
            </button>
        </ion-col>
        <ion-col *ngIf="exercise.mechanics" text-right>
            <button clear small class="ExerciseItemFooter-chars">
            <ion-icon name='body'></ion-icon>
            {{'MECHANICS_' + exercise.mechanics | translate }}            
            </button>
        </ion-col>
    </ion-row>
    
</ion-card>