.ExerciseItem {
    @include element(category) {
         color:  color($colors, primary);         
    }
    
    @include element(header) {
        background: grey;
        color: white; 
        padding: 8px;      
    }
}

.ExerciseItemHeader {
    @include element(name) {
       white-space: normal;    
    }
    
    @include element(favorite) {
        font-size: 2rem;
    }
}