.ExerciseItem {
    @include element(category) {
         color:  color($colors, primary);         
    }
    
    @include element(header) {
        background: grey;
        color: white; 
        padding: 8px;      
    }
}

.ExerciseItemHeader {
    @include element(name) {
       white-space: normal;    
    }
    
    @include element(favorite) {
        font-size: 2rem;
    }

    @include element(add) {
        font-size: 2rem;
        color: color($colors, secondary);      
    }
}

.ExerciseItemFooter {
    @include element(chars) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;      
    }
}


