 <ion-navbar *navbar>
        
    <!-- Search active state -->
    <div *ngIf="isSearchActive">
        <ion-searchbar (input)="searchExercises.emit($event)"
                       (cancel)="toggleSearchMode()"
                       [placeholder]="'NAVBAR_SEARCH_PLACEHOLDER' | translate"> 
        </ion-searchbar>
    </div>
    
    <!-- Search inactive state -->
    <ion-buttons *ngIf="!isSearchActive" left>
        <button menuToggle>
            <ion-icon name='menu'></ion-icon>
        </button>
    </ion-buttons>  
    <ion-title *ngIf="!isSearchActive">{{'NAVBAR_TITLE_EXERCISES' | translate}}</ion-title>          
    <ion-buttons *ngIf="!isSearchActive" end>
        <button (click)="toggleSearchMode()">
            <ion-icon name='search'></ion-icon>
        </button>   
        <!--<button>
            <ion-icon name='settings'></ion-icon>
        </button>-->
    </ion-buttons>
        
</ion-navbar>