@import "./components/day-item/day-item";

.Workouts {
    @include element(add) {
        @extend .CustomFab;
    }
}

.WorkoutAction {

    @include element(delete) {
        ion-icon {
             color: color($colors, danger);        
        }
    }

    @include element(edit) {
         ion-icon {
             color: color($colors, secondary);        
        }
    }

    @include element(cancel) {
         ion-icon {
             color: color($colors, danger);        
        }
    }

}

.ScheduleDay {
    @include modifier(isToday){
        background: rgba(color($colors, favorite), .07);
    }    
}