<ion-list class="WorkoutCommonInfo">

    <ion-item *ngIf="isTemplate()">
        <ion-label>{{'WORKOUT_NAME' | translate}}</ion-label>
        <ion-input [(ngModel)]="workout.name" type="text" (blur)="nameInputBlurEvent.emit($event)"></ion-input>
    </ion-item>

    <ion-item *ngIf="isTemplate()">
        <ion-label>{{'WORKOUT_TYPE' | translate}}</ion-label>
        <ion-select [(ngModel)]="workout.type" [okText]="'ALERT_OK' | translate" [cancelText]="'ALERT_CANCEL' | translate">
            <ion-option value="oneTime">{{'WORKOUT_TYPE_ONE_TIME' | translate}}</ion-option>
            <ion-option value="weekly">{{'WORKOUT_TYPE_WEEKLY' | translate}}</ion-option>
            <ion-option value="customPeriod">{{'WORKOUT_TYPE_CUSTOM_PERIOD' | translate}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="isCustomPeriodSetterVisible() && isTemplate()">
        <ion-label>{{'WORKOUT_TYPE_CUSTOM_PERIOD_IN_DAYS' | translate}}</ion-label>
        <ion-datetime displayFormat="H" pickerFormat="H" 
                      [cancelText]="'DATE_TIME_PICKER_CANCEL_TEXT' | translate"
                      [doneText]= "'DATE_TIME_PICKER_DONE_TEXT' | translate" 
                      [hourValues]="pickerRange" 
                      [(ngModel)]="customPeriodTime"
                      (ionChange)="fetchCustomPeriodTime($event)"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="isTemplate()">
        <ion-label>{{(workout.type === 'oneTime' ? 'WORKOUT_ONE_TIME_DATE' : 'WORKOUT_PERIODIC_FIRST_DATE') | translate}}</ion-label>
        <ion-datetime displayFormat="DDD, D MMMM"
                      pickerFormat="DDD, D MMMM YYYY"
                      [dayShortNames]="dayShortNames"
                      [monthNames]="monthNames"
                      [cancelText]="'DATE_TIME_PICKER_CANCEL_TEXT' | translate"
                      [doneText]= "'DATE_TIME_PICKER_DONE_TEXT' | translate" 
                      [(ngModel)]="workout.startDate"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="!isTemplate()">
        <ion-label>{{'WORKOUT_ONE_TIME_DATE' | translate}}</ion-label>
       <ion-datetime displayFormat="DDD, D MMMM"
                     pickerFormat="DDD, D MMMM YYYY"
                     [dayShortNames]="dayShortNames"
                     [monthNames]="monthNames"
                     [(ngModel)]="workout.startDate"
                     disabled="true"></ion-datetime>
    </ion-item>

</ion-list>