<ion-content>
  <ion-list [virtualScroll]="exercises | async" *ngIf="(exercises | async).length > 0" 
            [headerFn]="exerciseGroupHeader" class="ExercisesList" no-lines>
        
        <ion-item-divider *virtualHeader="let header" light>
          <b class="ExercisesList-category">{{header | normalize | uppercase }}</b>
        </ion-item-divider>
        
        <ion-item *virtualItem="let exercise">
          <exercises-list-item [exercise]="exercise" 
                               [isWorkoutCreationFlow]="isWorkoutCreationFlow"
                               [isSelected]="(exercisesSelected | async)[exercise.id]"
                               (exerciseSelect)="exerciseSelect.emit($event)"
                               (exerciseUnselect)="exerciseUnselect.emit($event)"></exercises-list-item>  
        </ion-item>

  </ion-list>
</ion-content>

<button *ngIf="isWorkoutCreationFlow && checkExercisesSelection((exercisesSelected | async))" 
        class="ExercisesList-completeSelectionButton" primary fab fab-right fab-bottom
        (click)="completeExerciseSelection.emit()">
    <ion-icon name="checkmark"></ion-icon>
</button>
