<ion-row center>
   <ion-col width-20 text-left [class.DayItem--today]="item.isToday">
    {{item.label}}
   </ion-col>    
   <ion-col width-80 text-center>
        
        <div *ngFor="let workout of item.workouts">
             
             <ion-card (click)="proceedToWorkout.emit({workout:workout,day:item.day})" 
                       class="DayItemWorkout"
                       *ngIf="workout.state !== 'deleted'">
                
                <ion-card-content [class.DayItemWorkout-templateHeader]="workout.state === 'template'" text-center>
                    <ion-row center>
                        <ion-col width-90>{{workout.name}}</ion-col>
                        <ion-col width-10 text-right>
                            <button small clear (click)="handleTemplateActionsClick({workout:workout,day:item.day},$event)">
                                <ion-icon name="more"></ion-icon>
                            </button>    
                        </ion-col>    
                    </ion-row>
                </ion-card-content>
      	    </ion-card>
        </div>            

   </ion-col>
</ion-row>