.DayItem {
    @include modifier(today) {
        color: rgba(color($colors, primary), .85);
    }
}

.DayItemWorkout {
    
    @include element(templateHeader){
        background: #eee;
        padding: 5px;
    }
}


